{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock %}

{% block js-bootstrap %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="container w-75 bg-light mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"></div>
        <div class="col bg-white p-5 rounded-end">
            <div class="card">
                <div class="card-body">
                    <span>{% block usuario %} {% endblock %}</span>
                    <h3 class="text py-3">Ingresa tus datos para Iniciar Sesión</h3>
                    <form action="{% block url-inicio %}{% endblock %}" method="POST">{% csrf_token %}
                        {{form|crispy}}
                        <div class="form-group">
                            <div class="d-grid">
                                <div class="row">
                                    <div class="col col-lg-3">
                                        <button type="button" class="btn btn-light btn-lg  w-100 my-1">
                                            <div>
                                                <img src="https://divisist2.ufps.edu.co/assets/img/google/google.png"
                                                    alt="Google" height="30">
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col col-lg-9">
                                        <input type="submit" value="Iniciar sesión" class="btn btn-danger btn-lg w-100 my-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-lg-6">
                                <a href="{% block url-recuperar %}{%endblock%}">¿Olvidaste tu clave?</a>
                            </div>
                            <div class="col col-lg-6">
                                <a href="{% block url-registro %}{%endblock%}" class="btn btn-primary btn-light" role="button">Regístrate</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}