{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container w-75 bg-light mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"></div>
        <div class="col bg-white p-5 rounded-end">
            <div class="card">
                <div class="card-body">
                    <span>{% block usuario %} {% endblock %}</span>
                    <h3 class="text py-3">Ingresa tus datos para Iniciar Sesión</h3>
                    <form action="#" method="POST">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="email" class="form-label">Usuario</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="documento" class="form-label">Documento</label>
                                <input type="text" class="form-control" name="documento">
                            </div>
                            <div class="mb-3 ">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-grid">
                                <div class="row">
                                    <div class="col col-lg-3">
                                        <button type="button" class="btn btn-light btn-lg  w-100 my-1">
                                            <div>
                                                <img src="https://divisist2.ufps.edu.co/assets/img/google/google.png"
                                                    alt="Google" height="30">
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col col-lg-9">
                                        <button type="button" class="btn btn-danger btn-lg w-100 my-1">Iniciar sesión</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-lg-6">
                                <a href="#">¿Olvidaste tu clave?</a>
                            </div>
                            <div class="col col-lg-6">
                                <button type="button" class="btn btn-light w-100">Regístrate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}