{% extends "layouts/base.html" %}

{% block title %} Recuperar Contraseña {% endblock %}

{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock %}

{% block js-bootstrap %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="container w-75 bg-light mt-5 rounded shadow">
    <div class="col bg-white p-5 rounded-end">
        <div class="card">
            <div class="card-body">
                <h3 class="text py-2" style="text-align:center" >Logout de la cuenta</h3>
                <p style="text-align:center">Has hecho logout de tu cuenta, dirigete a inicio para volver a iniciar sesion</p>
                <form method="POST">
                    <div class="form-group">
                        <div class="mb-3">
                            {% block url-usuario %}{% endblock url-usuario %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}