@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #b87878;
}

.bg {
    background-image: url(../img/mati.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.parra {
    background-image: url(https://www.laopinion.com.co/sites/default/files/2021-06/H%C3%A9ctor-Miguel-Parra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    margin-bottom: 3%;
}

.dash-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}