{% extends 'layouts/dashboard.html' %}
{% load static %}
{% block dash-content %} 
<div class="maestrias" style="display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">
    {% for maestria in maestrias %}
    <div class="card" style="width: 18rem; margin-top: 10px;">
        <img class="card-img-top" src="{{maestria.imagen}}" alt="Imagen maestria" style="height: 250px;">
        <div class="card-body">
            <h5 class="card-title">{{maestria.nombres}}</h5>
            <p class="card-text">{{maestria.descripcion}}</p>
            <a href="{{maestria.codigo}}" class="btn btn-danger">Ver Maestria</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block header %}
<header class="header" id="header">
    <div class="header__toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>

    <a href="/aspirante/inicio" class="personal">
        <div class="personal__img">
            <img src="/media/aspirantes/{{aspirante.foto}}" width="50" height="50" alt="Foto de perfil Aspirante">
        </div>
        <span class="personal-name">{{aspirante.nombres}}</span>
    </a>
</header>
{% endblock header %}
    