{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block dash-content %}
<div class="container w-120 bg-light mt-3 p-2 rounded shadow">
<div class="card-body">
    <div >
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}   
            </div>
        {% endif %}
    </div>
    <form name="inscripcion" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div>
            <label for="lFoto" class="mt-2">Selecciona una maestría*</label>
            <select class="form-select mt-2" aria-label="Default select example" name="id_maestria" id="id_maestria">
                {%for maestria in maestrias%}
                <option selected value="{{maestria.codigo}}">{{maestria.nombre}}</option>
                {%endfor%}
            </select>
        </div>
        <div>
            <div class="row">
                <label for="lFoto" class="col-form-label">Foto (3x4)*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="foto" id="foto">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="lCedula" class="col-form-label">Fotocopia ampliada de cédula (frente y reverso)*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="copia_documento" id="copia_documento">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="lDiploma" class="col-form-label">Fotocopia de diploma de pregrado*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="diploma_pregrado" id="diploma_pregrado">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="lNotas" class="col-form-label">Notas originales de pregrado o Acta de compromiso para entrega de notas (Graduado de
                    pregrado en la Universidad
                    Francisco de Paula Santander: no tendrá que hacer entrega del certificado de calificaciones según
                    acuerdo 044 de 2016).*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="notas_pregrado" id="notas_pregrado">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="pago" class="col-form-label">Comprobante de pago de derechos de inscripción*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="comprobante_pago" id="comprobante_pago">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="hojaVida" class="col-form-label">Resumen de la hoja de vida*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="resumen_cv" id="resumen_cv">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="refUno" class="col-form-label">Carta de referencia académica #1*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="referencia_uno" id="referencia_uno">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="refDos" class="col-form-label">Carta de referencia académica #2*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="referencia_dos" id="referencia_dos">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="lInscripcion" class="col-form-label">Descargar el siguiente formato de inscripción, diligenciarlo y cargarlo*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="formato_inscripcion" id="formato_inscripcion">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="lPasaporte" class="col-form-label">*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="pasaporte_visa" id="pasaporte_visa">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="lNotas" class="col-form-label">*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="notas_apostilladas" id="notas_apostilladas">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <label for="lDiploma" class="col-form-label">*</label>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <input class="form-control" type="file" name="diploma_apostillado" id="diploma_apostillado">
                </div>
            </div>
        </div>
        <div class="col col-lg-12 mt-3">
            <button type="submit" class="btn btn-danger btn-lg w-100 my-1">Cargar inscripción</button>
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}

{% block header %}
<header class="header" id="header">
    <div class="header__toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>

    <a href="/aspirante/inicio" class="personal">
        <div class="personal__img">
            <img src="/media/aspirantes/{{aspirante.foto}}" width="50" height="50" alt="Foto de perfil Aspirante">
        </div>
        <span class="personal-name">{{aspirante.nombres}}</span>
    </a>
</header>
{% endblock header %}

    