{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://divisist2.ufps.edu.co/assets/css/fontawesome/css/font-awesome.min.css">
    

    <title>Admisión Posgrado</title>
</head>

<body>
    <div class="container w-75 bg-light mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
            </div>
            <div class="col bg-white p-5 rounded-end">
                <h2 class="text-center py-5">Ingrese tus datos para iniciar sesión</h2>
                <!-- LOGIN -->
                <form action="#">
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="d-grid">
                        <div class="row">
                            <div class="col col-lg-3">
                                <button type="submit" class="btn btn-lg  w-100 my-1">
                                    <div>
                                        <img src="https://divisist2.ufps.edu.co/assets/img/google/google.png"
                                            alt="Google" width="32">
                                    </div>
                                </button>
                            </div>
                            <div class="col col-lg-9">
                                <button type="submit" class="btn btn-lg w-100 my-1">Iniciar
                                    sesión
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <a href="#">¿Olvidaste tu clave?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</html>